<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <main>
        
        <header>
            <% include ../partials/header %>
        </header>

        <h1 class="hey">Fordrag</h1>
        
        <div class="start1">
            <div class="col-lg-4">
                <h2><%= arrangementer[2].titel %></h2>
                <img src="img/<%=arrangementer[2].filnavn %>" alt="">
                <p><%= arrangementer[2].info %></p>
                <h2><strong>Varighed:</strong><%= arrangementer[2].varighed %></h2>
                <h3><strong>Kl.</strong><%= arrangementer[2].tid %></h3>
                <h3><%= arrangementer[2].dato %></h3>
                <p><%= arrangementer[2].pris %></p>
            </div>
            
            <div class="col-lg-4">
                <h2><%= arrangementer[7].titel %></h2>
                <img src="img/<%=arrangementer[7].filnavn %>" alt="">
                <p><%= arrangementer[7].info %></p>
                <h2><strong>Varighed:</strong><%= arrangementer[7].varighed %></h2>
                <h3><strong>Kl.</strong><%= arrangementer[7].tid %></h3>
                <h3><%= arrangementer[7].dato %></h3>
                <p><%= arrangementer[7].pris %></p>
            </div>
            
            <div class="col-lg-4">
                <h2><%= arrangementer[8].titel %></h2>
                <img src="img/<%=arrangementer[8].filnavn %>" alt="">
                <p><%= arrangementer[8].info %></p>
                <h2><strong>Varighed:</strong><%= arrangementer[8].varighed %></h2>
                <h3><strong>Kl.</strong><%= arrangementer[8].tid %></h3>
                <h3><%= arrangementer[8].dato %></h3>
                <p><%= arrangementer[8].pris %></p>
            </div> 
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <% include ../partials/javascript %>
</body>
</html>